/*TextField*/
.filter-tf {
    -fx-pref-height: 34px;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 13px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3,0,0,1);
}


.filter-tf:hover {
    -fx-background-color: #f2eadf;
}

.filter-tf:focused {
    -fx-background-color: #fff;
    -fx-border-color: #d2a679;
    -fx-border-width: 1.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(210,166,121,0.3), 4,0,0,1);
}

/*Text Area*/
.textarea-custom {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-wrap-text: true;
}

.textarea-custom:focused {
    -fx-background-color: #fff;
    -fx-border-color: #d2a679;
    -fx-border-width: 1.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(210,166,121,0.3), 4,0,0,1);
}

/*Scroll Pane*/
.scroll-bar:vertical {
    -fx-pref-width: 12px;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 16;
    -fx-padding: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #E6763E;
    -fx-background-radius: 8;
    -fx-max-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3,0,0,1);
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #c1915f;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}


