.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #F7F7F7;
}

/* ===================== CENTER ===================== */
.center-pane {
    -fx-background-color: #fafafa;
}

.main-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2d3436;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}


.top {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.search_box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20 20 28 28;
    -fx-padding: 10;
}

/* Ô tìm kiếm */
.search-field {
    -fx-background-radius: 20 20 28 28;
    -fx-padding: 20 20 28 28;
    -fx-background-color: white;
}
.search-btn {
    -fx-background-color: #E6763E;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 8 16;
    -fx-border-color: #E6763E;
    -fx-border-radius: 20;
}

.search-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #E6763E;
    -fx-border-color: #E6763E;
    -fx-padding: 8 16;
    -fx-border-radius: 20;
}

.hbox_one {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 20 28 28 20;
}

/* Hóa đơn */
.invoice-card {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 6, 0, 1, 2);
}

.invoice-card:hover {
    -fx-background-color: #f9f4ef;
}

.invoice-id {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.invoice-phone {
    -fx-text-fill: #666;
}
.time-btn {
    -fx-background-color: #4BD1A0;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-pref-width: 38;
    -fx-pref-height: 38;
}

.time-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #4BD1A0;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #4BD1A0;
}

/* ===================== MON AN ===================== */
.detail_box {
    -fx-background-radius: 20 20 28 28;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-alignment: center-left;
    -fx-spacing: 20;
}

.detail_box > Label {
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-text-fill: #333;
    -fx-font-size: 12px;
}

/* Dòng món */
.menu-list {
    -fx-padding: 10;
}

.menu-row {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-padding: 10 15;
    -fx-spacing: 15;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 2);
}

/* Hover cho dòng món */
.menu-row:hover {
    -fx-background-color: #f9f4ef;
}

/* Cột */
.col-stt {
    -fx-pref-width: 80;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.col-name {
    -fx-pref-width: 120;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-label-padding: 0 5 0 5;
}

.col-qty {
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: #444;
}

.col-price {
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: #444;
}
.col-discount {
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: #444;
}

.col-total {
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: red;
}


/* ===================== RIGHT PANE ===================== */
.right-pane {
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 1;
    -fx-background-radius: 32 0 0 32;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #E6763E;
    -fx-padding: 8;
    -fx-background-radius: 8;
    -fx-alignment: center;
    -fx-text-fill: white;
}


.bold-label { -fx-font-weight: bold; }
.red-label { -fx-text-fill: red; }
.red-bold-label { -fx-text-fill: red; -fx-font-weight: bold; }
.green-bold-label { -fx-text-fill: green; -fx-font-weight: bold; }

.radio-button .radio {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.radio-button {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 20;
    -fx-padding: 8 20;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-font-size: 13px;
}

.radio-button:selected {
    -fx-background-color: #E6763E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.radio-button:hover {
    -fx-background-color: #f7b98c;
}

.discount-field, .cash-field {
    -fx-background-radius: 8;
    -fx-padding: 8;
}

/* Nút nhanh */
.quick-btn {
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 8;
    -fx-alignment: center;
}

/* Nút xác nhận */
.confirm-btn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-height: 45;
    -fx-alignment: CENTER;
}
.confirm-btn:hover {
    -fx-background-color: #43A047;
}
/*Thanh Cuộn của ScrollPane*/
.scroll-bar:vertical {
    -fx-pref-width: 12px;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 16;
    -fx-padding: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #E6763E;
    -fx-background-radius: 8;
    -fx-max-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3,0,0,1);
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #c1915f;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

/*TextField*/
.filter-tf {
    -fx-pref-height: 34px;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 13px;
    -fx-border-color: #d2a679;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3,0,0,1);
}


.filter-tf:hover {
    -fx-background-color: #f2eadf;
}

.filter-tf:focused {
    -fx-background-color: #fff;
    -fx-border-color: #d2a679;
    -fx-border-width: 1.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(210,166,121,0.3), 4,0,0,1);
}

/* ===== NÚT ICON QR ===== */
.icon-qr {
    -fx-background-color: #E6763E;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0, 0, 1);
    -fx-padding: 0;
    -fx-transition: all 0.25s ease-in-out;
}

.icon-qr:hover {
    -fx-background-color: #f5904d;      /* sáng hơn */
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(230,118,62,0.5), 6, 0, 0, 2);
}

/* Khi nhấn */
.icon-qr:pressed {
    -fx-background-color: #cc5b1e;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 2, 0, 0, 1);
}

.checkout-btn {
    -fx-background-color: #E6763E;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 3);
}
.checkout-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #E6763E;
    -fx-border-color: #E6763E;
    -fx-border-radius: 10;
}
.checkout-btn:pressed {
    -fx-background-color: white;
    -fx-text-fill: #E6763E;
    -fx-border-color: #E6763E;
    -fx-border-radius: 10;
}
