.dashboard-bg {
    -fx-background-color: #f4f4f4;
}

.info-card {
    -fx-background-color: white;
    -fx-padding: 16;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.avatar-img {
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-padding: 8;
}

.info-label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card {
    -fx-background-color: white;
    -fx-padding: 12;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.card-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.text-green { -fx-text-fill: #22aa33; }
.text-orange { -fx-text-fill: #f5a623; }
.text-red { -fx-text-fill: #e74c3c; }

.subtitle {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.small-btn {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 5 10;
    -fx-background-radius: 6;
}

.alert-red {
    -fx-background-color: #f8d7da;
    -fx-text-fill: #721c24;
    -fx-padding: 6;
    -fx-background-radius: 6;
    -fx-font-size: 12px;
}

.alert-green {
    -fx-background-color: #d4edda;
    -fx-text-fill: #155724;
    -fx-padding: 6;
    -fx-background-radius: 6;
    -fx-font-size: 12px;
}
