.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f5f5f5;
}

/* ===== NỘI DUNG CHÍNH ===== */
.main-content {
    -fx-background-color: #D9D9D9;
    -fx-padding: 20px;
}

.main-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 0 0 20 0;
}

/* ===== TÌM KIẾM ===== */
.search-container {
    -fx-padding: 0 0 20 0;
}

.search-field {
    -fx-background-radius: 20 20 28 28;
    -fx-padding: 20 20 28 28;
    -fx-background-color: white;
}

.search-field:focused {
    -fx-border-color: #E6763E;
    -fx-border-radius: 20 20 28 28;
    -fx-effect: dropshadow(three-pass-box, rgba(52, 152, 219, 0.3), 5, 0, 0, 2);
}

.search-btn {
    -fx-pref-width: 100px;
    -fx-pref-height: 45px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 22;
    -fx-border-radius: 22;
    -fx-cursor: hand;
}

.search-btn:hover {
    -fx-background-color: #2980b9;
}




/* ===== SIDEBAR PHẢI ===== */
.right-sidebar {
    -fx-background-color: white;
    -fx-pref-width: 380px;
    -fx-background-radius: 32 0 0 32;
    -fx-alignment: center;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #E6763E;
    -fx-padding: 8;
    -fx-background-radius: 8;
    -fx-alignment: center;
    -fx-text-fill: white;
}

/* ===== FORM NHẬP LIỆU ===== */
.customer-info {
    -fx-padding: 0 0 25 0;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 0 0 1 0;
}

.form-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 0 0 10 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.info-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-pref-width: 110px;
    -fx-alignment: CENTER_RIGHT;
    -fx-text-alignment: RIGHT;
}

.form-field {
    -fx-pref-height: 35px;
    -fx-pref-width: 220px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1px;
    -fx-padding: 0 12 0 12;
    -fx-font-size: 14px;
    -fx-background-color: white;
}

.form-field:focused {
    -fx-border-color: #3498db;
}



.scroll-bar:vertical {
    -fx-pref-width: 12px;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 16;
    -fx-padding: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #E6763E;
    -fx-background-radius: 8;
    -fx-max-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3,0,0,1);
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #c1915f;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.center-p {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 20 20 28 28;
}

.filter-tf {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 13px;
    -fx-border-color: #d2a679;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3,0,0,1);
}


.filter-tf:hover {
    -fx-background-color: #f2eadf;
}

.filter-tf:focused {
    -fx-background-color: #fff;
    -fx-border-color: #d2a679;
    -fx-border-width: 1.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(210,166,121,0.3), 4,0,0,1);
}

/*Chọn Bàn*/
.table_main {
    -fx-background-color: #D9D9D9;
}
.table_group {
    -fx-pref-height: 600;
    -fx-pref-width: 200;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: #efefef;
}

.table_title {
    -fx-spacing: 10 ;
    -fx-alignment: center;
}


.table_title > .label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table_items {
    -fx-spacing: 10;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-alignment: center;
}


.table_items > .label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.table_items:hover {
    -fx-border-color: #E6763E;
    -fx-border-radius: 15;
}

.time-form {
    -fx-background-color: white;
    -fx-background-radius: 20 20 28 28;
    -fx-padding: 15;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 6, 0, 0, 2);
}

.time-field {
    -fx-spacing: 6;
    -fx-alignment: CENTER_LEFT;
}

.field-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #6b4f36;
}




