.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Tổng sidebar */
.sidebar {
    -fx-background-color: #ffffff;
    -fx-pref-width: 320;
    -fx-pref-height: 1000;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #ddd;
    -fx-spacing: 18;
    -fx-alignment: top-center;
    -fx-border-radius: 0 32 0 0;
}

/* Phần avatar */
.avatar_section {
    -fx-background-color: #FFD2B5;
    -fx-pref-width: 320;
    -fx-pref-height: 167;
    -fx-alignment: center;
    -fx-spacing: 6;
    -fx-background-radius: 0 32 0 0;
}

.username {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.role {
    -fx-font-size: 13px;
    -fx-text-fill: #555;
}

/* Các nút menu */
.menu-item {
    -fx-pref-width: 320;
    -fx-pref-height: 60;
    -fx-background-color: transparent;
    -fx-text-fill: #111;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 35;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-spacing: 18;
}

.menu-item:hover {
    -fx-background-color: #FFE6D1;
}

.menu-item.selected {
    -fx-background-color: #FFD2B5;
}


.logout-btn {
    -fx-pref-width: 200;
    -fx-pref-height: 45;
    -fx-background-color: #e53935;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 25;
    -fx-alignment: center;
}

.logout-btn:hover {
    -fx-background-color: #d32f2f;
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 200px;
}

.menu-btn:hover {
    -fx-background-color: #ffd8ba;
}

.sub-btn {
    -fx-background-color: #ffe5d0;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 180px;
    -fx-background-radius: 6;
}

.sub-btn:hover {
    -fx-background-color: #ffcba5;
}
