.grid-center{
    -fx-background-color: D9D9D9;
    -fx-padding: 10;
}
.grid-item{
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 0 0 20 20 ;
    -fx-padding: 6 10;
}
.grid-item-2{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20 ;
    -fx-padding: 6 10;
}
.filter-group{
    -fx-background-color: white;
    -fx-background-radius: 20 20 0 0;
    -fx-padding:  5 20;
}
.menu-search-box {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.search-icon {
    -fx-font-size: 14px;
}
.search-field {
    -fx-background-radius: 20 20 28 28;
    -fx-background-color: white;
    -fx-border-color: transparent;
}
.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #fcbf90;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 4;
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}

.combo-box:hover {
    -fx-border-color: #f9a36e;
}

.combo-box .arrow-button {
    -fx-background-color: #ffe3cc;
    -fx-background-radius: 8;
}
.dish-list {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-background-radius: 8;
}

.dish-row {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding:0;
}

.dish-row-label {
    -fx-text-fill: white;
}

.food-image {
    -fx-fit-width: 70;
    -fx-fit-height: 50;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 1);
}

.dish-sub {
    -fx-text-fill: #777;
    -fx-font-size: 12px;
}

.dish-status-red   { -fx-text-fill: red;    -fx-font-weight: bold; -fx-font-size: 10}
.dish-status-orange{ -fx-text-fill: orange; -fx-font-weight: bold; -fx-font-size: 10}
.dish-status-yellow{ -fx-text-fill: #d6a800; -fx-font-weight: bold; -fx-font-size: 10}
.dish-status-brown { -fx-text-fill: #8b4513; -fx-font-weight: bold; -fx-font-size: 10}
.dish-inc, .dish-dec{
    -fx-pref-width: 50;
}
.dish-inc > Label { -fx-text-fill: white; -fx-font-weight: bold;}
.dish-dec > Label{ -fx-text-fill: white;   -fx-font-weight: bold; }
/*Scroll Pane*/
.center-scroll-pane {
    -fx-background-color: transparent;
    -fx-padding:  0;

    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4, 0, 0, 1); /* đổ bóng nhẹ */
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 5;
    -fx-background-radius: 8;
}

.scroll-pane .content {
    -fx-padding: 0 0 0 5;
    -fx-background-radius: 8;
}
.scroll-bar:vertical {
    -fx-pref-width: 12px;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 16;
    -fx-padding: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #E6763E;
    -fx-background-radius: 8;
    -fx-max-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3,0,0,1);
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #c1915f;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}



/*Khung thứ 2*/
.info-row {
    -fx-padding: 10;
    -fx-spacing: 40;
    -fx-alignment: center;
}

.info-box {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 5 ;
    -fx-pref-width: 160;
    -fx-pref-height: 160;
    -fx-spacing: 6;
}
.info-box > Label{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.spacer {
    -fx-pref-width: 26;
    -fx-pref-height: 142;
}

/* Tiền tệ */
.money-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #28a745; /* ví dụ: xanh lá cho tăng doanh thu */
}
.chart-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c7be5;
    -fx-padding: 0 0 10 0;
}
